DATABASE_URL=postgresql+psycopg2://rada:rada@localhost:5432/rada_db
JWT_SECRET=change_me_super_secret
JWT_ALG=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

MEDIA_DIR=../media
SNAPSHOTS_DIR=../media/snapshots
CLIPS_DIR=../media/clips
RECORDINGS_DIR=../media/recordings
